 @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Twinkle+Star&display=swap"); 

    $font-family:'Twinkle Star', cursive;
    $font-family: 'Montserrat', sans-serif;
    $font-family: 'Satisfy', cursive;