body {
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    overflow-x: hidden;
    header {
        font-family: 'Montserrat', sans-serif;
        .grid-container1 header{
            grid-area: header;
            .navbar-brand{
                font-family: 'Satisfy', cursive;
                font-size: 30px;
                margin-left: 30px;
            }
        }
        
    }
     h1{
        font-family: 'Twinkle Star', cursive;
        font-weight: 600;
        font-size: 47px;
        color: rgb(193, 10, 47);
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 120px !important;
    }
    footer {
        font-family: 'Montserrat', sans-serif;
        margin-top: 120px;
        &:hover{
            color: rgb(221, 5, 5) !important ;
        }
    }
}
h2{
    font-family: 'Twinkle Star', cursive;
    font-weight: 600;
    font-size: 35px;
    color: black;
}

@mixin posicionamiento {
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover{
    transform: translate(4px) ;
    color: red;
}